Portable/Resources/Trailsystem.json
obj
bin

localytics-xamarin/
MedalliaDigitalProxy/build/

!*/NUnit-3/bin

# Node.js and Grunt
npm-debug.log
node_modules/

#Autosave files
*~

.idea/

# Build/test output
packages/
Portable/Properties/AssemblyInfo.cs
Portable/IOC/Properties/AssemblyInfo.cs
obj
Ios/Properties/AssemblyInfo.cs
Ios/Info.plist
Ios/Entitlements.Debug.plist
Ios/Entitlements.Prod.plist
Ios/Resources/*
Ios/Assets.xcassets/AppIcon.appiconset/*.png
test-results
Droid/Resources/
Droid/Assets/Styles/
Droid/Properties/AssemblyInfo.cs
AppConfigBuildParams.cs
Droid/google-services.json
Portable/Tests/Properties/AssemblyInfo.cs
Portable/Resources/*
Prebuild/Properties/AssemblyInfo.cs
TestResult.xml
Prebuild/blobs.db*
Prebuild/userblobs.db*
Prebuild/*.remote.json
Prebuild/DealerList.json
*.db-shm
*.db-wal
.git_commit
.vs

# Generated code files
Portable/StringResources.Designer.cs

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

StyleCop.cache

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

__fix_lib_tmp

Resource.designer.cs

SKMaps.framework

ObjectiveSharpie*

SKMaps.dll

*.cs.orig
*.csproj.orig

#Ignore UITest screenshot directories
RiderXApp.UITests/RiderXapp.Droid.UITests/Screenshots/
RiderXApp.UITests/RiderXapp.IOS.UITests/Screenshots/
 
temp


# This makes OSX not sync this folder to iCloud
.nosync


# templated files
Droid/Properties/AndroidManifest.xml
Portable/FodyWeavers.xsd

# .idea is a temp folder created by JetBrains Rider
.idea/.idea.RiderXApp/.idea
Naxam.Mapbox.Forms/Naxam.Mapbox.Platform.iOS/Info.plist

# These files are generated by the Prebuild program. No need to track them in source control
DealersList.json
DealersList.remote.json
PointOfInterestList.json
PointOfInterestList.remote.json
